CONFIG_AS_VERSION=23900
CONFIG_CC_VERSION_TEXT="arm-buildroot-linux-gnueabihf-gcc.br_real (Buildroot 2022.02.3-adi-5712-gf70f4aff40) 12.3.0"
# CONFIG_CFG80211 is not set
# CONFIG_ETHERNET is not set
CONFIG_GCC_VERSION=120300
# CONFIG_INIT_STACK_NONE is not set
CONFIG_LD_VERSION=23900
# CONFIG_MDIO_DEVICE is not set
# CONFIG_PHYLIB is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_WLAN is not set
CONFIG_AS_VFP_VMRS_FPINST=y
CONFIG_CC_HAS_AUTO_VAR_INIT_PATTERN=y
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
# CONFIG_GCC_PLUGINS is not set
# CONFIG_INIT_STACK_ALL_PATTERN is not set
CONFIG_INIT_STACK_ALL_ZERO=y
